html,body,.container-fluid, .row {
    height:100%;
    margin: 0px;
    padding: 0px;
}
.container-fluid {
    display:table;
    width: 100%;
    padding: 0 0 0 0;
    position:absolute;
}
.row {
    display: table-row;
}
.row .no-float {
  display: table-cell;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#map {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    z-index:0;
    position:absolute;
    
}
#map-shadow {
    box-shadow: 20px 0 20px -20px grey inset;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events:none;
}
#test {
    text-align: center;
}
#button-bar {
    width: 100%;
    margin-top: 20px;
}

#sign_in_button {
    float: right;
    margin: 0px 50px 0px 0px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 30px;
    pointer-events:all;
}
#sign_in_button:hover {
    color: grey;
    cursor: default;
}
#refresh_map {
    float: left;
    margin: 0px 0px 0px 70px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 30px;
    pointer-events:all;
}
#refresh_map:hover {
    color: grey;
    cursor: default;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
    border-radius: 30px;
} 
.close {
    color: #aaa;
    text-align: right;
    float: right;
    font-size: 28px;
    font-weight: bold;
} 
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar {
    width: 10px;
}
#custom_context_menu:hover {
    cursor: pointer;
}
#event_block_holder {
    height: 90%;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
 background: #888;
}
#nav_event {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;  
    padding: 10px; 
}
#nav_event:hover {
    background-color: whitesmoke;
    border-radius: 25px;
}
#event_description {
    margin: 0px 5px 0px 5px;
}
#about-us {
    float: right;
    margin: 0px 15px 0px 15px;
    padding: 10px 15px 10px 15px;
    background-color: white;
    border-radius: 30px;
    pointer-events:all;
}



